*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.navbar {
    background-color: rgb(178, 178, 224);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-left: 0px;
    font-size: 16px;
    padding: 10px 20px;
  }
  .navbar-brand {
    color: #333;
  }
  .navbar-nav .nav-link {
    color: #333;
  }
  .navbar-nav .nav-link:hover {
    color: #85387c;
  }
  .d-block{
    width: 100%;
    height: 90vh;
  }
  .para{
    font-size: 30px;
    text-align: center;
    font-weight: 300;
    font-style: italic;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 20vh;
    margin-top: 3%;
  }
  .para:hover{
    color: #85387c;
    cursor: pointer;
  }
  .card-container {
    display: flex;
    justify-content: center;
}

.card {
    width: 18rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.card-body {
    padding: 1rem;
}
.card4{
    background-color: #dbcbd9;
    height: 35vh;
}
.para0{
    margin-left: 25%;
}
.client{
    margin-left: 28%;
    height: 75vh;
}
.para1{
    font-style: italic;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 300;

}
.para1:hover{
    color: #85387c;
    cursor: pointer;
}
  